<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging Page</title>
    <link rel="stylesheet" href="/static/recipes/styles.css">
</head>
<body>
    <div class="logging-container">
        <h1>Welcome to the Recipe App</h1>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        
            <button type="submit">Log In</button>
        </form>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        
    </div>
</body>
</html>
