{% extends 'base.html' %}

{% block title %}Analyze Expenses{% endblock %}

{% block content %}
<h1>Analyze Expenses</h1>
<form action="" method="get">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ request.GET.start_date }}">
    <br><br>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ request.GET.end_date }}">
    <br><br>
    <input type="submit" value="Filter">
</form>  
<br><br>
<table>
    <tr>
      <th>Category</th>
      <th>Total Spend</th>
      <th>Budget</th>
    </tr>
    {% for category, data in data.items %}
    {% if spend != 0 %}
    <tr>
      {% load humanize %}
      <td>{{ category }}</td>
      <td>${{ data.amount }}</td>
      <td>{{ data.monthly_budget_adjusted|floatformat:2|intcomma }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="pie-chart">
    {{ income_pie_html|safe }}
</div>
<div class="pie-chart">
    {{ expense_pie_html|safe }}
</div>
  
{% endblock %}
