{% extends 'base.html' %}

{% block content %}

<form method="get">
  <div class="form-group">
    <label for="year">Select year:</label>
    <select class="form-control" name="year" id="year">
      {% for year in years %}
        <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="month">Select month:</label>
    <select name="month" id="month" class="form-control">
        {% for month_number, month_name in months.items %}
            <option value="{{ month_number }}" {% if month_number == selected_month %}selected{% endif %}>
                {{ month_name }}
            </option>
        {% endfor %}
    </select>
</div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<h2 style="text-align: left;padding-top: 30px;">Difference between budget/spend per category - {{selected_month}}/{{selected_year}}</h2>

<div id="bar-chart"></div>

<script>
  var chartData = JSON.parse('{{ fig_json|escapejs }}');
  Plotly.newPlot("bar-chart", chartData.data, chartData.layout);
</script>


  {% endblock %}