{% extends 'base.html' %}

{% block content %}

<form method="get">
  <label for="start_date">Start date:</label>
  <input type="date" name="start_date" value="{{ start_date }}">
  <label for="end_date">End date:</label>
  <input type="date" name="end_date" value="{{ end_date }}">
  <input type="submit" value="Filter">
</form>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
      <th>Adjusted Budget (per numbers of days)</th>
    </tr>
  </thead>
  <tbody>
    {% for category, total in category_totals %}
    {% load humanize %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ total|floatformat:2|intcomma }}</td>
        <td>{{ category.monthly_budget_adjusted|floatformat:2|intcomma }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>







  {% endblock %}