{% extends 'base.html' %}

{% block content %}
<form method="get">
    <label for="year">Year:</label>
    <select id="year" name="year">
      {% for year in years %}
      <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
    <button type="submit">Go</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th></th>
        {% for month in months.values %}
        <th>{{ month }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for category, month_data in data.items %}
      <tr>
        <td>{{ category }}</td>
        {% for month, item in month_data.items %}
        <td>
            Budget: {{ item.budget|floatformat:2 }}<br>
            Spent: {{ item.spent|floatformat:2 }}<br>
            Difference: {{ item.difference|floatformat:2 }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
  {% endblock %}