{% extends 'base.html' %}

{% block content %}
<h1>Accounts</h1>
<form class="recalculate" action="{% url 'recalculate_balances' %}" method="post">
    {% csrf_token %}
    <input class="recalculate_input" type="submit" value="Recalculate Balances">
</form>
<table>
    <tr>
        <th>Account Name</th>
        <th>Account Balance</th>
        <th>Goal</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>{{ account.name }}</td>
        {% load humanize %}
        <td>${{ account.balance|intcomma }}</td>
        <td>${{ account.goal|intcomma }} - {{ account.completion_percentage }}%</td>
        <td><a href="{% url 'edit_account' account.id %}">Edit</a></td>  
        <td><a href="{% url 'delete_account' account.id %}">Delete</a></td>
    </tr>

    {% endfor %}
    <tr>
        <td><strong>Total:</strong></td>
        <td><strong>${{ total_amount|floatformat:2|intcomma }}</strong></td>
    </tr>
</table>
</ul>
{% endblock %}
