/* SIDEBAR/TOP BAR*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}
.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    overflow: auto;
}
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    /* color: #dee4ec; */
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}
.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: rgb(7, 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}
body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

.submenu {
  display: block;
}

.has-submenu, .has-submenu.item .has-submenu.icon {
    background: white;
    color: #0c7db1;
}
a.subitem {
    padding: 5px 35px!important;
}

  




/* Main Area */
main {
    margin-left: 250px;
    margin-top: 50px;
}


/* TABLES */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-bottom: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

tr:hover {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #ddd;
  margin: 0 8px;
}

.pagination a:hover {
  background-color: #ddd;
}

/* FORMS */
form {
        width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #ccc;
    }

    label {
        font-weight: bold;
        margin-right: 10px;
        margin-top: 10px;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    textarea,
    select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

input[type="submit"], button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

  input[type="file"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 20px;
}

ul.errorlist {
    color: red;
}
ul.messages {
    text-align: center;
    color: red;
    padding-bottom: 15px;
    font-size: 20px;
}
li.success {
    color: #18ad18;
}
div#id_password {
    display: none;
}

/* GENERAL */
h1,h2 {
      text-align: center;
      margin-bottom: 30px;
  }
p.error {
    color: red;
    text-align: center;
}
a.button_delete {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
form.recalculate {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}
input.recalculate_input {
    width: 100%;
    padding: 10px;
    margin-top: 0;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.centered {
    text-align: center;
    margin-bottom: 35px;
}
a.button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}