{% extends 'base.html' %}

{% block content %}
<h1>Welcome to your finance dashboard</h1>

<h2>Recent Transactions</h2>
<!-- <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in recent_transactions %}
    <tr>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.category.name }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->

<canvas id="chart" width="800" height="400"></canvas>


{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
  <script>
    // Get the data from the server
    const data = JSON.parse('{{ data_json|escapejs }}');
    
    // Create the chart using Chart.js
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: data.labels,
        datasets: [{
          label: 'Wealth over time',
          data: data.values,
          borderColor: 'blue',
          fill: false,
          tension: 0.4
        }]
      },
      options: {
        responsive: false,
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'month'
            }
          },
          y: {
            title: {
              display: true,
              text: 'Amount'
            }
          }
        }
      }
    });
  </script>




{% endblock %}